@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	&::-webkit-scrollbar {
		width: 0 !important;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		width: 0 !important;
		border-radius: 10px;
	}
}
@layer base {
	body {
		@apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
		@apply min-h-screen;
	}

	::selection {
		@apply text-white bg-cyan-500;
	}

	.btn {
		@apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap;
	}
	.navBar-main {
		ul {
			li {
				@apply flex px-3 py-2 my-1 hover:bg-tertiary rounded-lg cursor-pointer align-middle;
				&.active {
					@apply bg-tertiary;
				}
				svg {
					@apply h-6 text-gray-500;
				}
				span {
					@apply ml-4 font-semibold text-textNav;
				}
			}
		}
	}
	.footer-nav {
		@apply flex justify-between align-middle px-3;
		.link-nav {
			@apply text-xs text-icon font-normal;
		}
	}
	.slideAdult {
		.swiper-pagination-bullet {
			@apply bg-gray-500 opacity-100;
		}
		.swiper-pagination-bullet-active {
			@apply bg-white;
		}
	}
	input {
		@apply h-12 rounded-xl bg-primary w-full outline-none text-white text-lg;
		&::placeholder {
			@apply text-gray-400 text-lg;
		}
		&[type='number']::-webkit-inner-spin-button,
		&[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	input[type='checkbox'] {
		@apply w-5 h-5 mr-4 cursor-pointer appearance-none rounded checked:bg-cyan-500 border-2 border-cyan-500 relative;
		&:after {
			content: '✔';
			@apply absolute -top-1 -left-0.5 w-5 h-5 scale-50 opacity-0;
		}
		&:checked {
			&:after {
				@apply opacity-100;
			}
		}
	}
	textarea {
		@apply resize-none h-24 w-full bg-primary rounded-xl outline-none py-2 px-4;
	}
	.spinner-wrapper {
		height: 1px;
		@apply w-screen fixed top-0 left-0 z-50;
		.spinner {
			@apply absolute left-0 h-full w-0 border-t-2 border-cyan-500;
			animation: rotation 0.6s infinite linear;
		}
	}
}

@keyframes rotation {
	from {
		width: 0vw;
	}
	to {
		width: 100vw;
	}
}
